body {
  font-family: sans-serif;
  text-align: center;
  margin-top: 10%;
  background-color: #bee7f3;
}

div {
  display: inline-block;
  background-color: #ffffffdb;
  padding: 60px;
  border-radius: 10px;
  width: 400px;
}

form {
  display: inline-block;
  margin-top: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

textarea {
  width: 300px;
  height: 100px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: none;
}

button[type="submit"] {
  width: 80px;
  height: 30px;
  background-color: #00b0f0;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0077c2;
}
