<!DOCTYPE html>
<html>
<head>
  <title>Image Quiz</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>
  <div>
    <h1>Image Quiz</h1>
    <form>
      <label for="prompt">Prompt:</label>
      <input type="text" id="prompt" name="prompt"><br><br><br>
      <label for="options">Options:</label>
      <!-- <textarea id="options" name="options" rows="4" cols="50"></textarea><br><br> -->
      <input type="text" id="options" name="options"></input><br><br><br>
      <button type="submit">Submit</button>
    </form> 
  </div>
</body>
</html>
